{% extends 'Travel_Comm/base.html' %}

{% block content %}

<div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <span class="label label-default">Default</span>
                    <div class="thumbnail" style="height:300px;">
                        <div class="caption">
                            <p>게시글 1</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <span class="label label-default ">Default</span>
                    <div class="thumbnail" style="height:300px;">
                        <div class="caption">
                            <p>게시글 1</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <span class="label label-default">Default</span>
                    <div class="thumbnail" style="height:300px;">
                        <div class="caption">
                            <p>게시글 1</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <span class="label label-default">Default</span>
                    <div class="thumbnail" style="height:300px;">
                        <div class="caption">
                            <p>게시글 1</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-md-5">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <span class="label label-default">주간 베스트 후기</span>
                    <div class="thumbnail" style="height:640px;">
                        <div>
                            <img src="" alt="..." style="height:190px;width:200px;margin: 10px; border:1px solid black">
                            <img src="" alt="..." style="height:190px;width:200px;margin: 10px; border:1px solid black">
                            <img src="" alt="..." style="height:190px;width:200px;margin: 10px; border:1px solid black">
                            <img src="" alt="..." style="height:190px;width:200px;margin: 10px; border:1px solid black">
                            <img src="" alt="..." style="height:190px;width:200px;margin: 10px; border:1px solid black">
                            <img src="" alt="..." style="height:190px;width:200px;margin: 10px; border:1px solid black">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}