{% extends 'Travel_Comm/base.html' %}

{% block content %}

    

    


                    <div class="col-sm-4 col-md-4">
                        <span class="label label-default">데일리 평점순</span>
                        <div class="thumbnail" style="height:200px;">
                            <div class="caption">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <span class="label label-default">데일리 추천순</span>
                        <div class="thumbnail" style="height:200px;">
                            <div class="caption">
                                <p>데일리 추천순</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <span class="label label-default">데일리 댓글순</span>
                        <div class="thumbnail" style="height:200px;">
                            <div class="caption">
                                <p>데일리 댓글순</p>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}